<div id="<%= dom_id beverage %>">
  <p>
    <strong>Name:</strong>
    <%= beverage.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= beverage.category %>
  </p>

  <p>
    <strong>Packaging:</strong>
    <%= beverage.packaging %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= beverage.price %>
  </p>

</div>
