<%= form_with(model: beverage) do |form| %>
  <% if beverage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beverage.errors.count, "error") %> prohibited this beverage from being saved:</h2>

      <ul>
        <% beverage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control mt-2", placeholder:"Name" %>
  </div>

  <div>
    <% form.label :category, style: "display: block" %>
    <%= form.text_field :category, class:"form-control mt-2", placeholder:"Category" %>
  </div>

  <div>
    <% form.label :quantity, style: "display: block" %>
    <%= form.text_field :quantity, class:"form-control mt-2", placeholder:"Quantity" %>
  </div>

  <div>
    <% form.label :price, style: "display: block" %>
    <%= form.number_field :price, class:"form-control mt-2", placeholder:"Price" %>
  </div>

  <%= form.submit class:"btn btn-primary mt-4" %>
<% end %>
