<div class="d-flex justify-content-between align-items-center">
  <h1 class="display-6">Beverages</h1>
  <% if user_signed_in? %>
    <%= link_to "Add beverage", new_beverage_path, class:"btn btn-outline-success" %>
  <% end %>
</div>

<div id="beverages" class="mt-2">
  <table class="table table-striped table-hover">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Beverage</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">M.R.P.</th>
    </thead>
    <tbody>
      <% counter = 1 %>
      <% @beverages.each do |beverage| %>
        <tr>
          <th scope="row"><%= counter %></th>
          <% if user_signed_in? %>
            <td><%= link_to beverage.name, beverage, class:"link-dark link-underline link-underline-opacity-0" %></td>
          <% else %>
            <td><%= beverage.name%></td>
          <% end %>
          <td><%= beverage.category_id %></td>
          <td><%= beverage.quantity %></td>
          <td>₹ <%= beverage.price %></td>
        </tr>
        <% counter += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
