<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div id="<%= @beverage %>" class="container-fluid py-5">
    <p class="display-5 fw-bold">
      <%= @beverage.name %>
    </p>

    <p class="col-md-8 fs-4">
      <% if @beverage.category.present? %>
        <%= @beverage.category.name %>
      <% else %>
        No Category Assigned
      <% end %>
    </p>

    <p class="col-md-8 fs-4">
      <%= @beverage.quantity %>
    </p>

    <p class="col-md-8 fs-4">
      ₹ <%= @beverage.price %>
    </p>

  </div>
</div>


<div>
  <%= link_to "Edit this beverage", edit_beverage_path(@beverage), class:"mt-4 btn btn-primary" %>
  <%= link_to "Back to beverages", beverages_path, class:"mt-4 btn btn-secondary" %>

  <%= button_to "Destroy this beverage", @beverage, method: :delete, class:"mt-4 btn btn-danger" %>
</div>
