<div class="card">
  <h1 class="card-header">Edit Profile</h1>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control mt-2", placeholder:"New password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mt-2", placeholder:"Re-type new password" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control mt-2", placeholder:"Old password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"btn btn-primary mt-4" %>
      </div>
    <% end %>
  </div>
</div>

<div class="card mt-4">
  <h5 class="card-header">Destroy my account</h5>
  <div class="card-body">
    <p class="card-text">Destroying this account will delete all beverages data too.</p>
    <%= button_to "Destroy my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>  </div>
  </div>
</div>
